@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.modal-open {
  overflow: hidden;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Estilize o contêiner de logos */
.marquee-container {
  display: flex;
  gap: 2rem;
  overflow: hidden;
  white-space: nowrap;
  animation: marquee-scroll 30s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;
  animation: marquee-scroll 4s linear infinite;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
